<div class="signup-form">
  <div style="margin-left: 35%;" class="Icon">
  <a href="#" style="font-size: large;" class="fa fa-android"></a>
</div>
  <form >
    
    <h5 style="text-align: center;">SIGN UP</h5>
  <h2>Create your account</h2>
  <p class="hint-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
  <div  class="d-flex form-group w-100" style="display: flex; ">
  <div class=" Icon" style="float: left;">
    <div style="background-color: white; height: 50px; width: 200px;">
      <a href="#"  style="color: white;" class="fa fa-facebook"></a>Sign up with Facebook</div>
  
</div>
<div class="Icon" style="float: right;">
  <div style="background-color: white; height: 50px; width: 200px;">
    <a href="#"  style="color: white;" class="fa fa-google"></a>Sign up with Google</div>

</div>
</div>

<p style="text-align: center;">or</p>


      <div class="form-group">
        <div class="form-group">
        <div class="col"><input type="text" class="form-control" name="first_name" placeholder="First Name" required="required"></div>
        </div>
        <div class="form-group" >
      
      <div class="col"><input type="text" class="form-control" name="last_name" placeholder="Last Name" required="required"></div>
    </div>      

      </div>
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" required="required">
      </div>
  <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Password" required="required">
      </div>
      
      <div class="form-group" style="font-size:x-small">
    <label class="form-check-label">By clicking Sign Up, you agree to our <a href="#">Terms of Use</a> &amp; and our &nbsp;<a href="#">Privacy Policy</a></label>
  </div>
  <div class="form-group">
          <button type="submit" class="btn btn-primary btn-lg btn-block">SIGN UP</button>
      </div>
  </form>
</div>